
-- 1. Buscar ou criar um paciente fictício
INSERT INTO public.patients (name, email, phone, status)
VALUES ('Paciente Teste Antigravity', 'teste@exemplo.com', '11999999999', 'active')
ON CONFLICT (email) DO UPDATE SET name = EXCLUDED.name
RETURNING id;

-- 2. Criar um agendamento fictício (ajuste o patient_id com o resultado acima)
INSERT INTO public.appointments (patient_id, scheduled_date, scheduled_time, status, source)
SELECT id, '2026-02-10', '14:30', 'pending_confirmation', 'internal'
FROM public.patients 
WHERE email = 'teste@exemplo.com'
RETURNING id;

-- 3. Gerar o token de confirmação (ajuste o appointment_id com o resultado acima)
INSERT INTO public.confirmation_tokens (appointment_id, token, expires_at)
SELECT id, 'xyz-teste-agente-2026', (now() + interval '24 hours')
FROM public.appointments
WHERE scheduled_date = '2026-02-10' AND status = 'pending_confirmation'
ORDER BY created_at DESC
LIMIT 1
RETURNING token;

